# -*- coding: utf-8 -*-
# vim: ft=yaml
# yamllint disable rule:comments-indentation
---
pihole:
  # Automatically keep PiHole up to date
  autoupdate: true
    # Manage PiHole adlists.
  adlists:
      # List of adlist URLs that should be absent from PiHole.
    absent: []
      # List of adlist URLs that should be present in PiHole.
      # If the list item is a mapping, the value will represent
      # the enabled status. Example:
      # - https://some.ad.list
      # - https://some.other-ad.list: false
    present: []
    # Manage PiHole blacklist entries.
  blacklist:
      # Domains that should be absent from the blacklist.
    absent:
        # List of plain domains that should be absent.
      plain: []
        # List of regular expressions that should be absent.
      regex: []
        # List of plain domains whose wildcard representation
        # should be absent.
      wildcard: []
      # Domains that should be present in the blacklist.
      # For descriptions, see above.
    present:
      plain: []
      regex: []
      wildcard: []
  config:
      # setupVars.conf configuration
    app:
      admin_email: ''
        # Exclude these clients from statistics
      api_exclude_clients: []
        # Exclude these domains from statistics
      api_exclude_domains: []
        # all, permittedonly, blockedonly, nothing
      api_query_log_show: all
      blocking_enabled: true
      cache_size: 10000
      dhcp:
        active: false
          # PIHOLE_DOMAIN ~ search domain
        domain: null
          # DHCP range end (CIDR)
        end: null
          # enable IPv6 support (SLAAC + RA). true/false
        ipv6: null
          # [h]
        leasetime: null
          # Enable DHCPv4 rapid commit (fast address assignment)
        rapid_commit: null
          # gateway IP address
        router: null
          # DHCP range start (CIDR)
        start: null
        # Never forward reverse lookups for private IP ranges
      dns_bogus_priv: true
        # Never forward non-FQDN A and AAAA queries
      dns_fqdn_required: true
        # Upstream DNS servers
      dns_upstream:
        - 1.1.1.1
        - 1.0.0.1
        # Interface settings: local, single, bind, all
      dnsmasq_listening: local
      dnssec: false
      install_web_interface: true
      install_web_server: true
        # PiHole IPv4 address
      ipv4_address: null
        # PiHole IPv6 address
      ipv6_address: null
        # Enable web interface HTTP server
      lighttpd_enabled: true
        # PiHole interface
      pihole_interface: null
      query_logging: true
        # Conditional forwarding
      rev_server:
        cidr: null
        domain: null
        enabled: false
        target: null
        # Empty string to disable, unspecified for random.
        # If specified, needs to be sha256(sha256(<password>)).
      webpassword: null
        # Pillar key where to look up webpassword
        # (will be hashed automatically, so should be plaintext)
      webpassword_pillar: null
      webtheme: default
        # Use boxed layout (for large screens). boxed, traditional
      webuiboxedlayout: boxed
      # Custom overrides for dnsmasq.
    dnsmasq: {}
      # pihole-FTL configuration. See below for overview or
      # https://docs.pi-hole.net/ftldns/configfile/ for reference.
    ftl:
        # This is the default setting. Description see below.
      privacylevel: 0
    # Manage custom CNAME records.
  custom_cname:
      # List of domains that should not have a custom CNAME record.
      # If a list item is a mapping, only remove the CNAME record
      # if it points to the value. Example:
      #   - should-not.have-a.cname
      #   - should-not.point.to: some.other.domain
    absent: []
      # Mapping of source domain -> target domain.
      # The target domain has to be in PiHole's cache or control.
    present: {}
    # Manage custom A/AAAA records.
  custom_dns:
      # List of domains that should not have a custom A/AAAA record.
      # If a list item is a mapping, only remove the record
      # if it points to the value. Example:
      #   - should-not.have-an-a.record
      #   - should-not.point.to: 10.1.0.1
    absent: []
      # Mapping of domain -> IP address
    present: {}
    # Manage PiHole groups.
  groups:
      # List of groups that should be absent from PiHole.
    absent: []
      # List of groups that should be present in PiHole.
      # If the list item is a mapping, the value will represent
      # the enabled status. Example:
      # - children
      # - wife: false
    present: []
  tls:
    enabled: false
    hostname: ''
    hsts: false
    pemfile: ''
    privkey: ''
    # Manage PiHole whitelist entries.
    # For description, see blacklist above.
  whitelist:
    absent:
      plain: []
      regex: []
      wildcard: []
    present:
      plain: []
      regex: []
      wildcard: []

#########################################################
# Overview of FTL configuration values:
#   # How should FTL reply to blocked queries?
#   # NULL|IP-NODATA-AAAA|IP|NXDOMAIN
# blockingmode: null
#   # Deep CNAME inspection (disable for very low-end devices)
# cname_deep_inspect: true
#   # reply NXDOMAIN to _esni. subdomains of blocked domains
# block_esni: true
#   # overwrite the query source when client information is provided
#   # through EDNS0 client subnet (ECS) information
# edns0_ecs: true
#   # permit no more than x queries in y seconds per client
# rate_limit: 1000/60
#   # Fix A/AAAA reply for `pi.hole` etc.
# local_ipv4: ''
# local_ipv6: ''
#   # Fix A/AAAA reply for blocked domains when IP blocking mode is used
# block_ipv4: ''
# block_ipv6: ''
#   # Reply behavior when the gravity database is locked/busy
#   # DROP|ALLOW|BLOCK|REFUSE
# reply_when_busy: DROP
#   # Cause Firefox to disable automatic DNS-over-HTTP
# mozilla_canary: true
#   # TTL to be handed out for blocked queries
# block_ttl: 2
#   # Cause Apple devices to disable iCloud Private Relay
# block_icloud_pr: true
#   # hours of queries to import from the database and logs
#   # >24h requires a changed compile-time value
# maxlogage: '24.0'
#   # 0 show everything 1 hide domains 2 + hide clients 3 hide everything
# privacylevel: 0
#   # Should FTL ignore queries coming from the local machine?
#   # no|yes
# ignore_localhost: 'no'
# analyze_only_a_and_aaaa: false
#   # Should FTL analyze and include automatically generated DNSSEC
#   # queries in the Query Log?
# show_dnssec: true
#   # localonly|all
# socket_listening: localonly
# ftlport: 4711
#   # Should FTL try to resolve IPv4/6 addresses to hostnames?
#   # yes|no
# resolve_ipv4: 'yes'
# resolve_ipv6: 'yes'
#   # Controls whether and how FTL will reply for address for which
#   # a local interface exists
#   # PI.HOLE|HOSTNAME|HOSTNAMEFQDN|NONE
# pihole_ptr: PI.HOLE
#   # if network interfaces appear only late during system startup
#   # 0-300 [s]
# delay_startup: 0
#   # Process priority. [-20, 19]. Disable: -999
# nice: -10
#   # Remove IP addresses older than the specified number of days
#   # Defaults to MAXDBDAYS
# maxnetage: null
#   # use the fallback option to try to obtain client names from
#   # checking the network table
# names_from_netdb: true
#   # Influence hourly PTR requests which check for
#   # changes in client and upstream server hostnames
#   # IPV4|ALL|UNKNOWN|NONE
# refresh_hostnames: IPV4
#   # When disabled, client identification and the network table
#   # will stop working reliably
# parse_arp_cache: true
#   # FTL by default regularly checks the system load and warns if too high
# check_load: true
#   # By default, FTL warns if the shared-memory usage exceeds 90%.
#   # [%]
# check_shmem: 90
#   # By default, FTL warns if usage of the disk holding any crucial file exceeds 90%.
#   # [%]
# check_disk: 90
#   # Should FTL load information from the database on startup
#   # to be aware of the most recent history?
#   # yes|no
# dbimport: 'yes'
#   # How long should queries be stored in the database?
#   # Setting this to 0 disables the database
# maxdbdays: 365
#   # How often do we store queries in FTL's database [minutes]?
# dbinterval: '1.0'
#   # Specify the path and filename of FTL's SQLite3 long-term database.
#   # Setting this to DBFILE= disables the database altogether
# dbfile: /etc/pihole/pihole-FTL.db
#   # Other relevant paths
# logfile: /var/log/pihole/FTL.log
# pidfile: /run/pihole-FTL.pid
# portfile: /run/pihole-FTL.port
# socketfile: /run/pihole/FTL.sock
# setupvarsfile: /etc/pihole/setupVars.conf
# macvendordb: /etc/pihole/macvendor.db
# gravitydb: /etc/pihole/gravity.db
#   # Debug configuration
# debug_all: false
# debug_database: false
# debug_networking: false
# debug_edns0: false
# debug_locks: false
# debug_queries: false
# debug_flags: false
# debug_shmem: false
# debug_gc: false
# debug_arp: false
# debug_regex: false
# debug_api: false
# debug_overtime: false
# debug_status: false
# debug_caps: false
# debug_dnsmasq_lines: false
# debug_vectors: false
# debug_resolver: false
# debug_clients: false
# debug_aliasclients: false
# debug_events: false
# debug_helper: false
# debug_extra: false

  lookup:
    config_dnsmasq: /etc/dnsmasq.d/05-salt.conf
    lighttpd_openssl: lighttpd-mod-openssl
    setup_sh: https://raw.githubusercontent.com/pi-hole/pi-hole/master/automated%20install/basic-install.sh

  tofs:
      # The files_switch key serves as a selector for alternative
      # directories under the formula files directory. See TOFS pattern
      # doc for more info.
      # Note: Any value not evaluated by `config.get` will be used literally.
      # This can be used to set custom paths, as many levels deep as required.
    files_switch:
      - any/path/can/be/used/here
      - id
      - roles
      - osfinger
      - os
      - os_family

      # All aspects of path/file resolution are customisable using the options below.
      # This is unnecessary in most cases; there are sensible defaults.
      # Default path: salt://< path_prefix >/< dirs.files >/< dirs.default >
      # I.e.: salt://pihole/files/default
      # path_prefix: template_alt
      # dirs:
      #   files: files_alt
      #   default: default_alt
      # The entries under `source_files` are prepended to the default source files
      # given for the state
    source_files:
      pihole-config-file-file-managed:
        - 'example_alt.tmpl'
        - 'example_alt.tmpl.jinja'
