# vim: ft=yaml
# yamllint disable rule:comments-indentation
---
pihole:
  # Automatically keep PiHole up to date
  autoupdate: true
    # Manage PiHole adlists.
  adlists:
      # List of adlist URLs that should be absent from PiHole.
    absent: []
      # List of adlist URLs that should be present in PiHole.
      # If the list item is a mapping, the value will represent
      # the enabled status. Example:
      # - https://some.ad.list
      # - https://some.other-ad.list: false
    present: []
    # Manage PiHole blacklist entries.
  blacklist:
      # Domains that should be absent from the blacklist.
    absent:
        # List of plain domains that should be absent.
      plain: []
        # List of regular expressions that should be absent.
      regex: []
        # List of plain domains whose wildcard representation
        # should be absent.
      wildcard: []
      # Domains that should be present in the blacklist.
      # For descriptions, see above.
    present:
      plain: []
      regex: []
      wildcard: []
    # Manage a certificate for the WebUI.
    # These parameters are passed to x509.certificate_managed.
  cert:
      # This needs to be enabled to generate the certificate.
      # Enabling it also enables tls.enabled and sets required
      # defaults automatically.
    generate: false
    algo: rsa
    ca_server: null
    cn: null
    days_remaining: 3
    days_valid: 7
    intermediate: []
    keysize: 2048
    san: null
    signing_cert: null
    signing_policy: null
    signing_private_key: null
  config:
      # pihole.toml configuration
    app:
      database:
        DBimport: true
        DBinterval: 60
        maxDBdays: 91
        network:
          expire: 91
          parseARPcache: true
        useWAL: true
      debug:
        aliasclients: false
        all: false
        api: false
        arp: false
        caps: false
        clients: false
        config: false
        database: false
        dnssec: false
        edns0: false
        events: false
        extra: false
        flags: false
        gc: false
        helper: false
        inotify: false
        locks: false
        netlink: false
        networking: false
        ntp: false
        overtime: false
        queries: false
        regex: false
        reserved: false
        resolver: false
        shmem: false
        status: false
        tls: false
        vectors: false
        webserver: false
      dhcp:
        active: false
          # DHCP range end (CIDR)
        end: ''
        hosts: []
        ignoreUnknownClients: false
          # enable IPv6 support (SLAAC + RA). true/false
        ipv6: false
        leasetime: ''
          # [h]
        leaseTime: ''
        logging: false
        multiDNS: false
        netmask: ''
          # Enable DHCPv4 rapid commit (fast address assignment)
        rapidCommit: false
          # gateway IP address
        router: ''
          # DHCP range start (CIDR)
        start: ''
      dns:
        CNAMEdeepInspect: true
        EDNS0ECS: true
        analyzeOnlyAandAAAA: false
        blockESNI: true
        blockTTL: 2
        blocking:
          active: true
          edns: TEXT
          mode: 'NULL'
          # Never forward reverse lookups for private IP ranges
        bogusPriv: true
        cache:
          optimizer: 3600
          size: 10000
          upstreamBlockedTTL: 86400
        cnameRecords: null
        dnssec: false
          # ~ search domain
        domain: lan
          # Never forward non-FQDN A and AAAA queries
        domainNeeded: true
          # Never forward non-FQDN A and AAAA queries
        expandHosts: true
        hostRecord: ''
        hosts: null
        ignoreLocalhost: false
          # PiHole interface
        interface: null
          # Interface settings: local, single, bind, all
        listeningMode: LOCAL
        piholePTR: PI.HOLE
        port: 53
        queryLogging: true
        rateLimit:
          count: 1000
          interval: 60
        reply:
          blocking:
            IPv4: ''
            IPv6: ''
            force4: false
            force6: false
          host:
            IPv4: ''
            IPv6: ''
            force4: false
            force6: false
        replyWhenBusy: ALLOW
        # Conditional forwarding
        revServers: []
        showDNSSEC: true
        specialDomains:
          designatedResolver: true
          iCloudPrivateRelay: true
          mozillaCanary: true
          # Upstream DNS servers
        upstreams:
          - 1.1.1.1
          - 1.0.0.1
      files:
        database: /etc/pihole/pihole-FTL.db
        gravity: /etc/pihole/gravity.db
        gravity_tmp: /tmp
        log:
          dnsmasq: /var/log/pihole/pihole.log
          ftl: /var/log/pihole/FTL.log
          webserver: /var/log/pihole/webserver.log
        macvendor: /etc/pihole/macvendor.db
        pcap: ''
        pid: /run/pihole-FTL.pid
      misc:
        addr2line: true
        check:
          disk: 90
          load: true
          shmem: 90
        delay_startup: 0
        dnsmasq_lines: []
        etc_dnsmasq_d: false
        extraLogging: false
        nice: -10
        privacylevel: 0
        readOnly: false
      ntp:
        ipv4:
          active: true
          address: ''
        ipv6:
          active: true
          address: ''
        sync:
          active: true
          count: 8
          interval: 3600
          rtc:
            device: ''
            set: false
            utc: true
          server: pool.ntp.org
      resolver:
        networkNames: true
        refreshNames: IPV4_ONLY
        resolveIPv4: true
        resolveIPv6: true
      webserver:
        acl: ''
        api:
          allow_destructive: true
          app_pwhash: null
          app_sudo: false
          cli_pw: true
          client_history_global_max: true
            # Exclude these clients from statistics
          excludeClients: []
            # Exclude these domains from statistics
          excludeDomains: []
          maxClients: 10
          maxHistory: 86400
          max_sessions: 16
          prettyJSON: false
            # If specified, needs to be the BALLOON-SHA256 hash of the password.
            # If left unspecified, a random one is generated (not saved in plaintext).
            # If set to an empty string, no password is generated.
          pwhash: null
          temp:
            limit: 60.0
            unit: C
        domain: pi.hole
        interface:
            # Use boxed layout (for large screens). boxed, traditional
          boxed: true
          theme: default-auto
        paths:
          prefix: ''
          webhome: /admin/
          webroot: /var/www/html
        port: 80o,443os,[::]:80o,[::]:443os
        serve_all: false
        session:
          restore: true
          timeout: 1800
        threads: 50
        tls:
          cert: /etc/pihole/tls.pem
      # Custom overrides for dnsmasq.
    dnsmasq: {}
    # Manage custom CNAME records.
  custom_cname:
      # List of domains that should not have a custom CNAME record.
      # If a list item is a mapping, only remove the CNAME record
      # if it points to the value. Example:
      #   - should-not.have-a.cname
      #   - should-not.point.to: some.other.domain
    absent: []
      # Mapping of source domain -> target domain.
      # The target domain has to be in PiHole's cache or control.
    present: {}
    # Manage custom A/AAAA records.
  custom_dns:
      # List of domains that should not have a custom A/AAAA record.
      # If a list item is a mapping, only remove the record
      # if it points to the value. Example:
      #   - should-not.have-an-a.record
      #   - should-not.point.to: 10.1.0.1
    absent: []
      # Mapping of domain -> IP address
    present: {}
    # Manage PiHole groups.
  groups:
      # List of groups that should be absent from PiHole.
    absent: []
      # List of groups that should be present in PiHole.
      # If the list item is a mapping, the value will represent
      # the enabled status. Example:
      # - children
      # - wife: false
    present: []
  secrets:
      # Manage the PiHole API password
    api_password:
        # Set this to a pillar path (parameter to pillar.get).
        # Preferred, since it avoids unnecessary cache writes.
      pillar: null
        # The plaintext password, alternative to pillar.
        # Avoid this, unless you want to remove the API password by
        # setting this to an empty string.
      plaintext: null
      # This should not be managed via the app.config since the API
      # does not return it, so it will cause repeated changes.
    totp_secret:
        # Force overwriting existing TOTP secrets to match what
        # was specified. Set this to false to protect an already
        # initialized 2FA setup.
      force: true
        # If you need to sync the TOTP secret between multiple servers,
        # you can specify an explicit externally generated secret.
        # For a single server setup, just leave everything alone and
        # a random secret is generated once.
        # Set this to a pillar path (parameter to pillar.get).
        # Preferred, since it avoids unnecessary cache writes.
      pillar: null
        # The plaintext secret, alternative to pillar.
        # Avoid this, unless you want to remove the 2FA enforcement by
        # setting this to an empty string.
      plaintext: null
    # Manage PiHole whitelist entries.
    # For description, see blacklist above.
  whitelist:
    absent:
      plain: []
      regex: []
      wildcard: []
    present:
      plain: []
      regex: []
      wildcard: []

  lookup:
    cert:
      cert: /etc/pihole/tls.crt
      privkey: /etc/pihole/tls.key
    config_dnsmasq: /etc/dnsmasq.d/05-salt.conf
    group: pihole
    setup_sh: https://raw.githubusercontent.com/pi-hole/pi-hole/master/automated%20install/basic-install.sh  # yamllint disable-line rule:line-length
    user: pihole

  tofs:
      # The files_switch key serves as a selector for alternative
      # directories under the formula files directory. See TOFS pattern
      # doc for more info.
      # Note: Any value not evaluated by `config.get` will be used literally.
      # This can be used to set custom paths, as many levels deep as required.
    files_switch:
      - any/path/can/be/used/here
      - id
      - roles
      - osfinger
      - os
      - os_family

      # All aspects of path/file resolution are customisable using the options below.
      # This is unnecessary in most cases; there are sensible defaults.
      # Default path: salt://< path_prefix >/< dirs.files >/< dirs.default >
      # I.e.: salt://pihole/files/default
      # path_prefix: template_alt
      # dirs:
      #   files: files_alt
      #   default: default_alt
      # The entries under `source_files` are prepended to the default source files
      # given for the state
    source_files:
      PiHole configuration is managed:
        - 'example_alt.tmpl'
        - 'example_alt.tmpl.jinja'
