#; Pi-hole FTL config file
#; Comments should start with #; to avoid issues with PHP and bash reading this file

#; This file is managed by Salt.
#; Manual changes might be overwritten.

{%  for var, val in pihole.config.ftl | dictsort %}
{%-   if val is none %}
{%-     continue %}
{%-   elif val in [true, false] %}
{{ var | upper }}={{ val | lower }}
{%-   else %}
{{ var | upper }}={{ val }}
{%-   endif %}
{%- endfor %}
