{%- set special_vars = [
    'dhcp',
    'dns_upstream',
    'rev_server',
    'webpassword_pillar',
] -%}

{%- for var, val in pihole.config.app | dictsort %}
{%-   if var in special_vars or val is none %}
{%-     continue %}
{%-   endif %}
{%-   if val | is_list %}
{%-     set val = val | join(",") %}
{%-   elif val in [true, false] %}
{%-     set val = val | lower %}
{%-   endif %}
{{ var | upper }}={{ val }}
{%- endfor %}
{%  for upstream in pihole.config.app.dns_upstream %}
PIHOLE_DNS_{{ loop.index }}={{ upstream }}
{%- endfor %}

REV_SERVER={{ pihole.config.app.rev_server.enabled | lower }}
{%- if pihole.config.app.rev_server.enabled %}
{%-   for var, val in pihole.config.app.rev_server | dictsort %}
{%-     if "enabled" == var or val is none %}
{%-       continue %}
{%-     endif %}
REV_SERVER_{{ var | upper }}={{ val }}
{%-   endfor %}
{%- endif %}

{%- if pihole.config.app.dhcp.active %}
{%    for var, val in pihole.config.app.dhcp | dictsort %}
{%-     if val is none %}
{%-       continue %}
{%-     elif "domain" == var %}
PIHOLE_DOMAIN={{ val }}
{%-     elif "ipv6" == var %}
DHCP_IPv6={{ val | lower }}
{%-     elif "rapid_commit" == var %}
DHCP_rapid_commit={{ val | lower }}
{%-     else %}
DHCP_{{ var | upper }}={{ val }}
{%-     endif %}
{%-   endfor %}
{%- endif %}
